<h2 mat-dialog-title class="font-size-08">Edit Course</h2>
<div class="dialog-full-width">
    <mat-form-field class="full-width">
        <mat-label class="font-size-04">Choose Course</mat-label>
        <mat-select [(ngModel)]="data.id">
          <mat-option *ngFor="let course of courses$ | async" [value]="course.id" class="font-size-04">{{course.title}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="data.title">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="data.description">
    </mat-form-field>
</div>
<mat-dialog-actions>
  <button mat-button (click)="updateCourse(data.id, data)" cdkFocusInitial>OK</button>
  <button mat-button (click)="onNoClick()">CANCEL</button>
</mat-dialog-actions>
