<mat-drawer-container autosize [hasBackdrop]="false" class="sidebar">
    <mat-drawer #drawer mode="side" disableClose="true" opened="true" ngClass="sidebar__close">
        <mat-nav-list>
            <div ngClass="sidebar__items">
                <div *ngFor="let menu of sidebarStructure$ | async" ngClass="sidebar__item">
                    <a mat-list-item
                        ngClass="menu__item--active"
                        (click)="updateSidebar(menu)"
                        [routerLink]="menu.path"
                        (mouseenter)="showSubmenu(menu)"
                        (mouseleave)="hideSubmenu(menu)">
                        <div class="sidebar-item-container">
                            <span class="material-icons--18 outlined">{{ menu.icon }}</span>
                        </div>
                    </a>
                </div>
            </div>
        </mat-nav-list>
    </mat-drawer>
</mat-drawer-container>