<div class="top-students-container">
    <div class="top-students-title">
        <p class="font-size-10">
            TOP STUDENTS
        </p>
    </div>
    <div class="items-list">
        <ul class="items-list-container">
            <div
                class="font-size-08 item-information-container"
                *ngFor="let student of topStudents$ | async">
                <div>
                    {{ student.firstName }} {{ student.lastName}}
                </div>
                <p class="font-size-07 counter-color">
                    {{ getCourseCount(student.id) | async }}
                </p>
            </div>
        </ul>
    </div>
</div>
