<div class="top-students-container">
    <div class="top-students-title">
        <p class="font-size-10">
            TOP STUDENTS
        </p>
    </div>
    <div class="items-list">
        <ul class="items-list-container">
            <div
                class="font-size-08"
                *ngFor="let student of students$ | async"
                >
                <div class="item-information">
                    {{ student.firstName }} {{ student.lastName}}
                </div>
            </div>
        </ul>
    </div>
</div>
