//  PRIMARY COLOR

$primary-50: #9F8FEF;
$primary-100: #9384DF;
$primary-200: #8779D0;
$primary-300: #7C6EC0;
$primary-400: #7063B1;
$primary-500: #6458A1;
$primary-600: #584D92;
$primary-700: #4D4282;
$primary-800: #413773;
$primary-900: #352C63;

//  CHARCOAL COLOR

$charcoal-50: #FFFFFF;
$charcoal-100: #F9F9F9;
$charcoal-200: #F1F1F1;
$charcoal-300: #E4E4E4;
$charcoal-400: #D4D4D4;
$charcoal-500: #BDBDBD;
$charcoal-600: #9F9F9F;
$charcoal-700: #7E7E7E;
$charcoal-800: #575757;
$charcoal-900: #2E2E2E;
