/* You can add global styles to this file, and also import other style files */
@import '../src/assets/scss/main.scss';
@import '~@mdi/font/css/materialdesignicons.css';

html,body { 
    height:100%; 
}

body { 
    margin:0; 
} 

:root {
    font-size: 8px;
}